In [1]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests 
import html5lib
import random
import pandas as pd# this module helps us to download a web page
website= "https://origin.cpc.ncep.noaa.gov/products/analysis_monitoring/ensostuff/ONI_v5.php"
result= requests.get(website)
content = result.text
soup = BeautifulSoup(content, "html.parser")
tables = soup.find_all('table')
len(tables)

11

In [9]:
ENOS= pd.read_html(str(tables[3]), flavor='bs4')[0]
ENOS

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Search the CPC About Us Our Mission Who We A...,HOME > Climate & Weather Linkage > El Niño /...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Search the CPC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,About Us Our Mission Who We Are Contact Us ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,2019,0.7,0.7,0.7,0.7,0.5,0.5,0.3,0.1,0.2,0.3,0.5,0.5
93,Year,DJF,JFM,FMA,MAM,AMJ,MJJ,JJA,JAS,ASO,SON,OND,NDJ
94,2020,0.5,0.5,0.4,0.2,-0.1,-0.3,-0.4,-0.6,-0.9,-1.2,-1.3,-1.2
95,2021,-1.0,-0.9,-0.8,-0.7,-0.5,-0.4,-0.4,-0.5,-0.7,-0.8,-1.0,-1.0
96,2022,-1.0,-0.9,-1.0,-1.1,-1.0,-0.9,-0.8,-0.9,NaN,NaN,NaN,NaN